<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" metadata-complete="false" version="3.1">
  <display-name>Online_Shopping_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoadCustomerInfoServlet</servlet-name>
    <servlet-class>imse.SS2017.team1.servlets.LoadCustomerInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadCustomerInfoServlet</servlet-name>
    <url-pattern>/Online_Shopping_System/WebContent/loaddata/</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description>Add to chart and get the number of items - jQuery Ajax</description>
    <display-name>Add2Cart</display-name>
    <servlet-name>Add2Cart</servlet-name>
    <servlet-class>imse.SS2017.team1.servlets.Add2Cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add2Cart</servlet-name>
    <url-pattern>/add2chart</url-pattern>
  </servlet-mapping>
</web-app>